{#<nav class="navbar navbar-inverse navbar-fixed-top background_navbar">
    <div class="container_navbar">
        <div class="navbar-header ecart_scroll">

            {# Burger #}
            {#<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {# Logo #}
            {#<a href="{{ path('site_nataly_homepage') }}">
                {% set logo = [path_images, "/logo/na.png"] | join('') %}
                <img src="{{ logo }}" class="logo_nataly_navbar" alt="{% trans %}logo principal{% endtrans %}" />
            </a>

        </div>

        <div id="navbar" class="navbar-collapse collapse margin_navbar">

        </div>
    </div>
</nav>#}


  {#<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
       

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="#navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="navbar-collapse collapse show" id="navbar">
          <ul class="navbar-nav mr-auto">
                <li class="police_nataly_navbar first_onglet"About me</li>
				<li class="police_nataly_navbar">Portfolio</li>
				<li class="police_nataly_navbar">Shop</li>
				<li class="police_nataly_navbar">Blog</li>			
				<li class="police_nataly_navbar">Movie</li>
				<li class="police_nataly_navbar">Contact</li>
          </ul>

        </div>
      </nav>#}
        {# {% set logo = [path_images, "logo/na.png"] | join('') %}
         {% set logo = [path_images, "logo/na.png"] | join('') %}
         #}



<nav class="navbar navbar-expand-xl navbar-dark background_navbar">

    {# Logo petit écran #}
    <a href="{{ path('site_nataly_homepage') }}" id="logoPetitEcran">
        <img src="{{ asset('../../images/logo/na.png')}}" class="logo_nataly_navbar" alt="{% trans %}logo principal{% endtrans %}" />
    </a>

    {# Bouton Buger #}
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {# Les Menus #}
    <div class="collapse navbar-collapse justify-content-md-center" id="navbar">

        {# Logo grand écran #}
        <a href="{{ path('site_nataly_homepage') }}" id="logoGrandEcran">
            <img src="{{ asset('../../images/logo/na.png')}}" class="logo_nataly_navbar" alt="{% trans %}logo principal{% endtrans %}" />
        </a>

        {# Liste de navigation #}
        <ul class="navbar-nav">
            
            {# Vers About me #}
            {% if menu == "about_me" %}
                <li class="police_nataly_navbar_select">
            {% else %}
                <li class="police_nataly_navbar">
            {% endif %}
                <a href="{{ path('site_nataly_about_me') }}">
                    About me
                </a>
            </li>

            {# Vers Portfolio #}
            {% if menu == "portfolio" %}
                <li class="police_nataly_navbar_select">
            {% else %}
                <li class="police_nataly_navbar">
            {% endif %}
                <a href="{{ path('site_nataly_portfolio') }}">
                    Portfolio
                </a>
            </li>

            {# Vers Shop #}
            {% if menu == "shop" %}
                <li class="police_nataly_navbar_select">
            {% else %}
                <li class="police_nataly_navbar">
            {% endif %}
                <a href="{{ path('site_nataly_shop') }}">
                    Shop
                </a>
            </li>

            {# Vers Blog #}
            {% if menu == "blog" %}
                <li class="police_nataly_navbar_select">
            {% else %}
                <li class="police_nataly_navbar">
            {% endif %}
                <a href="{{ path('site_nataly_blog') }}">
                    Blog
                </a>
            </li>

            {# Vers Movie #}
            {% if menu == "movie" %}
                <li class="police_nataly_navbar_select">
            {% else %}
                <li class="police_nataly_navbar">
            {% endif %}
                <a href="{{ path('site_nataly_movie') }}">
                    Movie
                </a>
            </li>

            {# Vers Contact #}
            {% if menu == "contact" %}
                <li class="police_nataly_navbar_select">
            {% else %}
                <li class="police_nataly_navbar">
            {% endif %}
                <a href="{{ path('site_nataly_contact') }}">
                    Contact
                </a>
            </li> 
        </ul>
    </div>
</nav>

  